.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-height: 300px;
    -fx-tab-max-height: 300px;
    -fx-tab-min-width: 30px;
    -fx-tab-max-width: 30px;
}

.tab-pane .tab:selected {
    -fx-background-color: #867070;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-font-weight: bold;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.menu-bar {
    -fx-padding: 15 10;
    -fx-background-color:transparent;
}
.menu {
    -fx-padding: 10 30;
    -fx-text-fill: #867070;
    -fx-font-family: 'Inter';
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 9;
}
.menu .label {
    -fx-text-fill: #867070;
}
.menu:hover {
    -fx-background-color: #D5B4B4;
}
.menu:showing {
    -fx-background-color: #D5B4B4;
}
.menu .label:hover {
    -fx-text-fill: #867070;
}
.menu-item .label {
    -fx-text-fill: #867070;
}
.menu-item .label:hover {
    -fx-text-fill: white;
}
.menu-item:focused {
    -fx-background-color: #D5B4B4;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#D5B4B4,40%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #D5B4B4;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
